article,
.related {
    width: 95%;
    margin: 0 auto;
}

.blog-post-header {
    text-align: center;
    font-size: 1.8rem;
}

.blog-path {
    color: $medium-color;
    font-size: 1rem;
    padding: 5px;
}

.user {
    display: flex;
    flex-wrap: wrap;
}

.alex {
    width: 100px;
    margin: 10px;
}

.blog-sub-headers,
.blog-sub-sub-headers {
    margin: 0 auto;
}

.blog-sub-sub-headers {
    color: $medium-color;
}

.post-header {
    padding-bottom: 20px;
    border-bottom: 1px solid $medium-light-color;
    margin-bottom: 20px;
}

.blog-container p {
    font-size: 1rem;
}

.main-p {
    color: $medium-color;
}

.share {
    display: flex;
}

.share-header {
    margin-left: 0;
    margin-right: 20px;
}

.blog-icons {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 45%;
    color: $medium-light-color;
    font-size: 1.5rem;
}

.blog-twitter {
    color: #00acee;
}

.blog-section-header {
    font-size: 1.5rem;
    border-bottom: 1px solid $medium-light-color;
    padding-bottom: 15px;
    margin-left: 10px;
}

.related ul {
    padding-left: 0;
}

.related img {
    width: 95%;
    margin-bottom: 10px;
}

.related article {
    margin-bottom: 20px;
}

.related-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    background: $light-color;
    width: 85%;
    margin: 0 auto;
}






