.blog-main {
    background: $light-color;
}

.blog-container {
    max-width: 950px;
    background: $white;
    margin: 0 auto;
    padding-top: 50px;
}

article,
.related {
    width: 95%;
    margin: 0 auto;
}

.blog-post-header {
    text-align: center;
    font-size: 1.8rem;
    max-width: 498px;
    margin: 0 auto;
}

.blog-path {
    color: $medium-color;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}

.user {
    display: flex;
    flex-wrap: wrap;
}

.alex {
    width: 70px;
    margin: 10px;
    border-radius: 50%;
}

.blog-sub-headers,
.blog-sub-sub-headers {
    margin: 0 auto;
}

.blog-sub-sub-headers {
    color: $medium-light-color;
    margin-top: 5px;
}

.post-header {
    padding-bottom: 20px;
    border-bottom: 1px solid $light-color;
    margin-bottom: 40px;
}

.blog-container p {
    font-size: 1rem;
}

.main-p {
    color: $medium-color;
}

.share {
    display: flex;
    max-width: 375px;
}

.share-header {
    margin-left: 0;
    margin-right: 20px;
}

.blog-icons,
.blog-icons a {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 45%;
    color: $medium-light-color;
    font-size: 1.5rem;
}

.blog-icons {
    margin-top: 0;
    transition: all 0.5s;
}

.blog-icons i:hover {
    scale: 1.5;
}

.blog-twitter {
    color: #00acee;
}

.blog-section-header {
    font-size: 1.5rem;
    border-bottom: 1px solid $medium-light-color;
    padding-bottom: 15px;
    margin-left: 10px;
}

.related ul {
    padding-left: 0;
}

.related img {
    width: 95%;
    margin-bottom: 10px;
    max-width: 288px;
}

.related article {
    margin-bottom: 20px;
    border-bottom: 1px solid $light-color;
    padding-bottom: 10px;
    max-width: 288px;
    transition: all 0.7s;
}

.related article:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    scale: 1.1;
    cursor: pointer;
}

.related-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    background: $light-color;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    position: relative;
}

.message:after {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid $light-color;
}

.message .blog-sub-sub-headers {
    color: $dark-color;
}

.reply-style {
    color: #00acee;
    font-style: italic;
}

.comment-text,
.comment-time {
    color: $medium-color;
}

.comment-time {
    font-size: 0.7rem;
}

.leave-comment {
    margin-bottom: 50px;
    text-align: center;
}

.leave-comment fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leave-comment input,
.leave-comment textarea {
    border: 0;
    border-bottom: 1px solid $medium-light-color;
    width: 80%;
    padding-left: 5px;
}

.leave-comment input:focus,
.leave-comment input:active,
.leave-comment textarea:focus,
.leave-comment textarea:active {
    border: 1px solid $medium-light-color;
}

.leave-comment input {
    margin-bottom: 25px;
    max-width: 280px;
}

.leave-comment textarea {
    resize: none;
    height: 100px;
    color: $medium-color;
}

.leave-comment input:hover,
.leave-comment textarea:hover {
    border-bottom: 1px solid $dark-color;
}

.comment-submit {
    margin-top: 20px;
    color: $white;
    background: $button-accent;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    height: 50px;
    width: 170px;
}

.comment-submit:hover {
    background: darken($button-accent, 10);
    cursor: pointer;
}

