footer,
footer input,
footer button,
.footer-bottom {
    background: lighten($dark-color, 13);
    color: $light-color;
}

footer a {
    color: $light-color;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

footer form {
    width: 100%;
}

footer fieldset {
    border: 0;
    display: flex;
}

footer legend {
    width: 90%;
    text-align: center;
}

footer input {
    width: 70%;
}

footer input,
footer button {
    border: 0;
    border-bottom: solid 1px $medium-color;
    height: 40px;
}

footer button {
    margin: 0;
}

footer button::before,
footer button::after {
    content: '';
    flex: 1 0 auto;
}

footer button:hover {
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid $medium-color;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 40px;
}

.footer-icons {
    max-width: 165px;
}

.footer p {
    max-width: 180px;
}