header a {
    color: $dark-color;
}

header a:hover,
.header-buttons:hover,
.shopping-container:hover {
    color: $medium-color;
    cursor: pointer;
}

.header-buttons,
.shopping-container {
    background: transparent;
    border: none;
}

nav {
    font-size: 1.2rem;
    text-transform: uppercase;
}

// Mobile/hamburger menu styling begins
// Inspired by Vincci Tsui
// https://medium.com/@tsui.vincci/my-journey-with-the-hamburger-395d944fbf2b
.hamburger {
    display: flex;
    align-items: flex-start;
}

.hamburger-toggle {
    visibility: hidden;
}

.top-nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: $white;
    padding-left: 0;
    z-index: 20;
    width: 130px;
    top: 60px;
    right: 0px;
    transition: all 0.4s ease-in;
}

.top-nav li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.top-nav li:hover {
    background: $light-color;
}

.top-nav a {
    margin-left: 5px;
}

.top-nav a:hover {
    color: $dark-color;
}

#hamburger-toggle:checked ~ .top-nav {
    opacity: 100%;
    visibility: visible;
}

.hamburger-lines {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.hamburger-lines:hover {
    cursor: pointer;
}

.hamburger-line {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    background: $dark-color;
    transition: all 0.4s ease-in-out;
}

.hamburger-line.line1 {
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.hamburger-line.line2,
.hamburger-line.line2b {
    top: 50%;
    border-radius: 8px;
    background: $dark-color;
    transform: translateY(-50%);
}

.hamburger-line.line3 {
    bottom: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.hamburger-toggle:checked + label .line1,
.hamburger-toggle:checked + label .line3 {
    opacity: 0%;
}

.hamburger-toggle:checked + label .line1 {
    top: -6px;
}

.hamburger-toggle:checked + label .line3 {
    bottom: -6px;
}

.hamburger-toggle:checked + label .middle {
    height: 4px;
    background: $dark-color;
}

.hamburger-toggle:checked + label .line2 {
    transform: rotate(40deg);
    background: $dark-color;
}

.hamburger-toggle:checked + label .line2b {
    transform: rotate(-40deg);
}
// Mobile/hamburger menu styling ends

.nav-header {
    position: absolute;
}

.shopping-container {
    position: relative;
}

.number {
    position: absolute;
    left: 20px;
    bottom: -5px;
}

.number p{
        background: $text-accent;
        width: 20px;
        height: 20px;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        text-align: center;
        border-radius: 50%;
    }

.home-hero,
.blog-hero,
.contact-hero {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.home-hero {
    background: url("../assets/home-1.jpeg");
    background-size: cover;
    height: 30vh;
    background-repeat: no-repeat;
}

.blog-hero {
    background: url("../assets/blog-1.jpeg");
    background-size: cover;
    height: 30vh;
    background-repeat: no-repeat;
}

.contact-hero {
    background: url("../assets/contact-1.jpeg");
    background-position-x: -620px;
    background-position-y: -120px;
    background-repeat: no-repeat;
    height: 58vh;
}