header a{
    color: $dark-color;
}

nav {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.nav-header {
    position: absolute;
}

.shopping-container {
    position: relative;
}

.number {
    position: absolute;
    left: 20px;
    bottom: -5px;
}

.number p{
        background: $text-accent;
        width: 20px;
        height: 20px;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        text-align: center;
        border-radius: 50%;
    }

.home-hero,
.blog-hero,
.contact-hero {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.home-hero {
    background: url("../assets/home-1.jpeg");
    background-size: cover;
    height: 30vh;
    background-repeat: no-repeat;
}

.blog-hero {
    background: url("../assets/blog-1.jpeg");
    background-size: cover;
    height: 30vh;
    background-repeat: no-repeat;
}

.contact-hero {
    background: url("../assets/contact-1.jpeg");
    background-position-x: -620px;
    background-position-y: -120px;
    background-repeat: no-repeat;
    height: 60vh;
}