nav {
    display: none;
}

header a {
    color: $dark-color;
}

header a:hover,
header a:focus,
.header-buttons:hover,
.header-buttons:focus,
.shopping-container:hover,
.shopping-container:focus {
    color: $medium-color;
    cursor: pointer;
}

.header-buttons,
.shopping-container {
    background: transparent;
    border: none;
}

nav {
    font-size: 1.2rem;
    text-transform: uppercase;
}

// Mobile/hamburger menu styling begins
.hamburger {
    display: flex;
    align-items: flex-start;
    position: fixed;
    right: 20px;
    z-index: 20;
}

.hamburger-toggle {
    visibility: hidden;
}

.top-nav {
    visibility: hidden;
    top: -200px;
    position: fixed;
    background: $white;
    padding-left: 0;
    z-index: 20;
    width: 200px;
    right: 0;
    transition: all 0.4s ease-in;
}

.top-nav li {
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.4s;
}

.top-nav li:hover,
.top-nav li:focus {
    background: $text-accent;
}

.top-nav a {
    padding-left: 10px;
    padding-right: 75px;
}

.top-nav a:hover,
.top-nav a:focus {
    color: $dark-color;
}

#hamburger-toggle:checked ~ .top-nav {
    visibility: visible;
    top: 80px;
    position: fixed;
}

.hamburger-lines {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.hamburger-lines:hover {
    cursor: pointer;
}

.hamburger-line {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    background: $dark-color;
    transition: all 0.4s ease-in-out;
}

.hamburger-line.line1 {
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.hamburger-line.line2,
.hamburger-line.line2b {
    top: 50%;
    border-radius: 8px;
    background: $dark-color;
    transform: translateY(-50%);
}

.hamburger-line.line3 {
    bottom: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.hamburger-toggle:checked + label .line1,
.hamburger-toggle:checked + label .line3 {
    visibility: hidden;
}

.hamburger-toggle:checked + label .line1 {
    top: -6px;
}

.hamburger-toggle:checked + label .line3 {
    bottom: -6px;
}

.hamburger-toggle:checked + label .middle {
    height: 4px;
    background: $dark-color;
}

.hamburger-toggle:checked + label .line2 {
    transform: rotate(40deg);
    background: $dark-color;
}

.hamburger-toggle:checked + label .line2b {
    transform: rotate(-40deg);
}
// Mobile/hamburger menu styling ends

.nav-header {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-icons {
    width: 60%;
    padding-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 10px;
}

.shopping-container {
    position: relative;
}

.number {
    position: absolute;
    left: 20px;
    bottom: -5px;
}

.number p{
        background: $text-accent;
        width: 20px;
        height: 20px;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        text-align: center;
        border-radius: 50%;
    }

.home-hero,
.blog-hero,
.contact-hero {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.home-hero {
    background: url("../assets/home-1.jpeg");
    background-size: cover;
    height: 230.4px;
    background-repeat: no-repeat;
}

.blog-hero {
    background: url("../assets/blog-1.jpeg");
    background-size: cover;
    height: 230.4px;
    background-repeat: no-repeat;
}

.contact-hero {
    background: url("../assets/contact-1.jpeg");
    background-position-x: -620px;
    background-position-y: -120px;
    background-repeat: no-repeat;
    height: 445.4px;
}