@media (min-width: 335px) {
    div.header-container {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    nav {
        display: none;
    }

    .top-nav {
        right: 20px;
    }

    .nav-header {
        position: relative;
        font-size: 4rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .nav-icons {
        width: 70%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 2rem;
    }

    .number p{
        top: 6%;
        left: 20%;
    }

    .hero,
    .contact-hero {
    width: 100%;
    }

    .home-section-header-1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .about-container {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    footer {
        height: 65vh;
        padding-top: 40px;
    }

    footer ul {
        line-height: 2;
    }

    footer form {
        margin: 0 auto;
        margin-top: 15px;
    }

    ul.wrapper {
        padding-left: 0;
    }

    footer p {
        text-align: center;
    }

    .footer-icons {
        font-size: 1.5rem;
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }

    .contact-header {
        text-align: center;
    }

    .contact-types i {
        font-size: 2rem;
    }
}

@media (min-width: 400px) {
    .about {
        height: 120vh;
    }

    .girl-photo-container:after {
        top: 35%;
    }

    .information {
        height: 130vh;
    }

    .comment-submit-container {
        width: 100%;
        text-align: left;
    }

    .comment-submit {
        margin-left: 10px;
    }

    .contact-hero {
        margin-bottom: 100px;
    }
    
    .contact-container {
        margin: 0 auto;
    }

    .contact-container,
    .contact p {
        margin-left: 50px;
    }

    .contact-header {
        text-align: left;
    }

    .contact-p {
        max-width: 480px;
        margin-left: 0;
    }
}

@media (min-width: 520px) {
    .girl-photo-container {
        max-width: 510px;
    }
    
    .girl-photo-container:after {
        top: 40%;
        max-width: 160px;
        left: 4%;
    }

    .girl-photo {
        max-width: 306px;
    }

    .contact-types li {
        border: none;
    }

    .contact-container {
        height: 150vh;
    }

    .contact-submit {
        margin-top: 40px;
    }

    .information {
        height: 150vh;
    }
}

@media (min-width: 580px) {
    .header-container {
        padding-bottom: 20px;
    }

    nav,
    nav ul {
        display: flex;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        justify-content: space-between;
        padding-left: 0;
    }

    .nav-ul-1 {
        width: 40%;
        margin: 0 auto;
    }

    .nav-ul-2 {
        flex-direction: column;
        align-items: flex-end;
        height: 55px;
        margin-right: 50px;
    }

    .nav-icons {
        flex-direction: column;
        width: 90%;
        align-items: flex-end;
        margin-right: 50px;
    }

    .hamburger,
    .top-nav,
    .top-nav li,
    .hamburger-lines {
        display: none;
    }

    .nav-header {
        position: absolute;
        margin: 0;
        left: 170px;
        top: 100px;
    }

    .home-hero,
    .blog-hero {
        height: 60vh;
    }

    .about {
        padding-top: 50px;
        height: 140vh;
    }

    .girl-photo-container {
        margin-top: 40px;
    }

    .girl-photo-container:after {
        top: 40%;
        max-width: 160px;
        left: 3%;
    }

    .testimonial-box {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .information img {
        max-width: 580px;
    }

    .footer-links {
        max-width: 350px;
    }

    footer legend {
        text-align: left;
    }

    footer form {
        max-width: 580px;
    }
}

@media (min-width: 700px) {
    .nav-header {
        left: 250px;
    }

    .about {
        height: 85vh;
    }

    .about-article {
        display: flex;
    }

    .girl-photo-container {
        width: 45%;
    }

    .girl-photo {
        width: 80%;
    }

    .girl-photo-container:after {
        top: 70%;
        left: 0;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        width: 95%;
    }

    .footer-icons {
        margin: 0;
    }
}

@media (min-width: 755px) {
    .contact-container {
        max-width: 70%;
        margin: 0 auto;
        height: 175vh;
    }

    .contact-types {
        max-width: 1400px;
        margin-top: 50px;
    }

    .contact-types li {
        max-width: 320px;
        padding-left: 10px;
    }

    .contact-types p {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

@media (min-width: 850px) {
    .header-container {
        height: 30vh;
    }

    nav {
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        justify-content: space-around;
    }

    .nav-ul-1,
    .nav-ul-2 {
        margin: 0;
        flex-direction: row;
        align-items: flex-start;
    }

    .nav-ul-1 {
        max-width: 280px;
    }

    .nav-ul-2 {
        width: 100%;
        max-width: 180px;
    }

    .nav-icons {
        flex-direction: row;
        width: 100px;
        position: absolute;
        right: 100px;
        top: 50px;
    }

    .nav-header {
        top: 100px;
        left: 370px;
    }

    .about {
        padding-top: 100px;
        height: 100vh;
    }

    .girl-photo-container:after {
        top: 70%;
        left: 0;
    }

    .explore .home-section-header-2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .contact-footer {
        height: 50vh;
    }
}

@media (min-width: 915px) {
    .information {
        height: 90vh;
        flex-direction: row;
    }

    .information-container,
    .information-container .home-section-header-1,
    .information-container .home-section-header-2 {
        text-align: left;
    }

    .contact-container {
        height: 155vh;
    }
}

@media (min-width: 930px) {
    .blog-path {
        font-size: 0.8rem;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .post-header,
    .blog-headers-container {
        display: flex;
        justify-content: space-between;
    }

    .blog-headers-container {
        width: 50%;
        padding-top: 50px;
        margin-right: 30px;
    }

    .user {
        width: 300px;
    }

    .user-name {
        padding-top: 30px;
    }

    .share {
        margin-top: 60px;
    }
    
    .related-articles {
        display: flex;
        justify-content: space-around;
    }

    .comments {
        padding-left: 20px;
    }

    .blog-section-header {
        width: 95%;
    }

    .message {
        margin-right: 20px;
        margin-left: 40px;
        padding-bottom: 20px;
    }

    .comments img {
        width: 70px;
        height: 70px;
        margin-left: 20px;
    }

    .comment1,
    .comment2,
    .comment3 {
        display: flex;
    }

    .comment-header {
        text-align: left;
        width: 95%;
        margin: 0 auto;
        margin-left: 0;
        margin-top: 56px;
        margin-bottom: 56px;
    }

    .leave-comment {
        height: 90vh;
    }

    .leave-comment,
    .leave-comment fieldset{
        max-width: 900px;
        margin: 0 auto;
    }

    .leave-comment textarea {
        width: 100%;
        height: 150px;
    }

    footer {
        height: 50vh;
    }
}

@media (min-width: 1000px) {
    .nav-header {
        left: 450px;
    }

    .about {
        height: 110vh;
    }

    .girl-photo-container {
        max-width: none;
        width: 400px;
        margin-top: 20px;
    }

    .girl-photo-container:after {
        max-width: none;
        width: 200px;
        height: 200px;
        left: -40px;
        top: 280px;
    }

    .girl-photo {
        width: 100%;
    }

    .about-article {
        margin: 0 auto;
        width: 80%;
    }

    .great-place {
        font-size: 2rem;
        margin-bottom: 60px;
        margin-left: 0;
    }

    .about-article-content {
        margin-left: 50px;
        margin-right: 0;
    }

    .features img {
        width: 30%;
    }

    .testimonial-container {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .mobile-angles {
        display: none;
    }

    .angle-left-desktop,
    .angle-right-desktop {
        display: inline-block;
    }

    .explore {
        padding-bottom: 100px;
    }

    .gallery-image-container {
        margin: 0 auto;
    }

    .information-container {
        text-align: left;
        max-width: 410px;
        padding-left: 10px;
        padding-top: 50px;
    }

    .information-container .home-section-header-1,
    .information-container .home-section-header-2 {
        text-align: left;
    }

    .information-container .home-section-header-2 {
        font-size: 3rem;
    }

    .blog-container {
        position: relative;
        top: -60px;
    }
}

@media (min-width: 1100px) {
    .header-container {
        height: 25vh;
    }

    nav {
        padding-top: 50px;
    }

    .nav-icons {
        right: 0;
        top: 60px;
        font-size: 1.8rem;
        width: 80px;
    }

    .nav-header {
        left: 480px;
        top: 50px;
    }

    .features ul {
        margin-top: 100px;
    }

    .features img {
        width: 35%;
    }

    .contact-hero {
        background-position-x: 0;
        background-position-y: 0;
        background-size: contain;
        height: 60vh;
        margin-bottom: 100px;
    }

    .contact-container {
        height: 140vh;
    }

    .footer-container {
        justify-content: space-between;
    }

    div.footer-links {
        max-width: none;
        width: 420px;
    }

    footer form {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1190px) {
    .nav-header {
        left: 520px;
    }

    .home-hero,
    .blog-hero {
        height: 90vh;
    }

    .about-article {
        width: 70%;
    }

    .girl-photo-container:after {
        left: -60px;
    }

    .information img {
        max-width: 800px;
        height: 100%;
    }

    .footer-bottom,
    .footer-container {
        width: 80%;
    }

    .footer-container {
        margin: 0 auto;
    }
}

@media (min-width: 1280px) {
    .nav-header {
        right: 400px;
    }

    .features ul {
        margin-left: 150px;
    }

    .contact-container {
        height: 140vh;
        max-width: 1000px;
    }
}

@media (min-width: 1298px) {
    .nav-icons {
        right: 40px;
        width: 120px;
    }

    .features {
        padding-top: 0;
    }

    .features ul {
        height: 50vh;
    }

    .features li {
        height: 160px;
    }

    .features img {
        margin-top: 0;
    }
}

@media (min-width: 1373px) {
    li.address {
        border-left: 1px solid $light-color;
        border-right: 1px solid $light-color;
    }

    .contact-container {
        height: 120vh;
    }
}