$dark-color: #000000;

$medium-color: #999999;

$medium-light-color: #CCCCCC;

$light-color: #EDEDED;

$white: #FFFFFF;

$text-accent: #A4F1DC;

$button-accent: #84A016;

$icon-accent: #F6AB09;

$header-text: "PlayfairDisplay", 700;

$quote-text: "PlayfairDisplay", 400i;

$subheader-text: "Poppins", 600;

$content-text: "Poppins", 400;