html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

nav,
.feature-header,
.comment-submit,
.contact-submit {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.nav-header,
.great-place,
.home-section-header-2,
blockquote,
.blog-post-header,
.blog-sub-headers,
.blog-section-header,
.contact-header,
.contact-type-header {
  font-family: "Playfair Display", serif;
}

blockquote {
  font-style: italic;
}

.home-section-header-1,
.feature-header {
  text-transform: uppercase;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
}

header a {
  color: #000000;
}

header a:hover,
.header-buttons:hover,
.shopping-container:hover {
  color: #999999;
  cursor: pointer;
}

.header-buttons,
.shopping-container {
  background: transparent;
  border: none;
}

nav {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  right: 20px;
  z-index: 20;
}

.hamburger-toggle {
  visibility: hidden;
}

.top-nav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background: #FFFFFF;
  padding-left: 0;
  z-index: 20;
  width: 200px;
  top: 60px;
  right: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.top-nav li {
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.top-nav li:hover {
  background: #A4F1DC;
}

.top-nav a {
  padding-left: 10px;
  padding-right: 75px;
}

.top-nav a:hover {
  color: #000000;
}

#hamburger-toggle:checked ~ .top-nav {
  opacity: 95%;
  visibility: visible;
  position: fixed;
}

.hamburger-lines {
  display: block;
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hamburger-lines:hover {
  cursor: pointer;
}

.hamburger-line {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  background: #000000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hamburger-line.line1 {
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.hamburger-line.line2,
.hamburger-line.line2b {
  top: 50%;
  border-radius: 8px;
  background: #000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger-line.line3 {
  bottom: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.hamburger-toggle:checked + label .line1,
.hamburger-toggle:checked + label .line3 {
  opacity: 0%;
}

.hamburger-toggle:checked + label .line1 {
  top: -6px;
}

.hamburger-toggle:checked + label .line3 {
  bottom: -6px;
}

.hamburger-toggle:checked + label .middle {
  height: 4px;
  background: #000000;
}

.hamburger-toggle:checked + label .line2 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  background: #000000;
}

.hamburger-toggle:checked + label .line2b {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.nav-header {
  position: absolute;
}

.shopping-container {
  position: relative;
}

.number {
  position: absolute;
  left: 20px;
  bottom: -5px;
}

.number p {
  background: #A4F1DC;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 50%;
}

.home-hero,
.blog-hero,
.contact-hero {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.home-hero {
  background: url("../assets/home-1.jpeg");
  background-size: cover;
  height: 230.4px;
  background-repeat: no-repeat;
}

.blog-hero {
  background: url("../assets/blog-1.jpeg");
  background-size: cover;
  height: 230.4px;
  background-repeat: no-repeat;
}

.contact-hero {
  background: url("../assets/contact-1.jpeg");
  background-position-x: -620px;
  background-position-y: -120px;
  background-repeat: no-repeat;
  height: 445.4px;
}

footer,
footer input,
footer button,
.footer-bottom {
  background: #212121;
  color: #EDEDED;
}

footer.home-footer,
footer.blog-footer,
footer.contact-footer {
  height: 100%;
}

footer a {
  color: #EDEDED;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
}

.footer-links a:hover {
  color: #999999;
}

footer form {
  width: 100%;
}

footer fieldset {
  border: 0;
}

footer legend {
  width: 90%;
  text-align: center;
}

footer input {
  width: 80%;
  padding-left: 5px;
}

footer input:focus,
footer input:active,
footer button:focus,
footer button:active {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

footer input,
footer button {
  border: 0;
  border-bottom: solid 1px #999999;
  height: 40px;
  float: left;
}

footer button {
  margin: 0;
}

footer button::before,
footer button::after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer button:hover {
  cursor: pointer;
  color: #999999;
}

.footer-bottom {
  border-top: 1px solid #999999;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 40px;
}

.footer-icons {
  max-width: 165px;
}

footer a:hover {
  color: #999999;
}

.footer p {
  max-width: 180px;
}

.home-section-header-1,
.home p {
  color: #999999;
}

h2.home-section-header-1 {
  letter-spacing: 8px;
}

.about {
  background: #EDEDED;
  height: 806.4px;
  padding-top: 20px;
}

.about p,
.features p {
  color: #999999;
  line-height: 1.5;
}

.about-article {
  position: relative;
}

.about-article-content {
  max-width: 375px;
  margin: 0 auto;
  text-align: left;
}

.girl-photo {
  width: 60%;
  border: 10px solid #FFFFFF;
  margin-bottom: 50px;
  margin-top: 10px;
}

.girl-photo-container:after {
  content: "";
  width: 30%;
  height: 30%;
  background: url("../assets/home-circle-text.png") no-repeat;
  background-size: contain;
  top: 29%;
  left: 6%;
  position: absolute;
  display: inline-block;
}

.home-section-header-1 {
  letter-spacing: 1px;
}

.great-place {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
}

.great-place:before {
  content: '';
  border-top: 1px solid #000000;
  width: 20%;
  display: block;
  margin-bottom: 20px;
}

.name-bold {
  color: #000000;
}

.features {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features ul {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features li {
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features i {
  font-size: 2.2rem;
  padding-right: 20px;
  padding-top: 5px;
}

.feature-header {
  margin-top: 10px;
  margin-left: 10px;
}

.features p {
  margin-top: 0;
  margin-bottom: 50px;
  width: 260px;
}

.features img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  max-width: 645px;
}

.testimonial,
.explore {
  background: url(../assets/pattern.png);
}

.testimonial {
  height: 691.2px;
  padding-top: 50px;
}

.testimonial button {
  border: none;
  background: transparent;
  color: #999999;
}

.angle-left-desktop,
.angle-right-desktop {
  display: none;
}

.mobile-angles,
.angle-left-mobile,
.angle-right-mobile,
.angle-left-desktop,
.angle-right-desktop {
  text-align: center;
  font-size: 5rem;
  color: #000000;
}

.angle-left-desktop:hover,
.angle-right-desktop:hover,
.angle-left-mobile:hover,
.angle-right-mobile:hover {
  color: #999999;
  cursor: pointer;
}

.testimonial-box {
  background: #FFFFFF;
  width: 95%;
  max-width: 750px;
  height: 499.2px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.home-section-header-2 {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

.stars {
  font-size: 2rem;
}

.stars {
  color: #F6AB09;
}

.testimonial-quote {
  line-height: 1.7;
}

.testimonial-quote:before,
.testimonial-quote:after {
  font-size: 1.5rem;
  vertical-align: -6px;
  line-height: 1;
}

.testimonial-quote:before {
  content: open-quote;
  margin-right: 5px;
}

.testimonial-quote:after {
  content: close-quote;
  margin-left: 5px;
}

.testimonial p {
  color: #999999;
}

.explore {
  padding-top: 20px;
  padding-bottom: 50px;
}

.explore .home-section-header-1 {
  margin-top: 0;
}

.gallery-image-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 970px;
  padding-left: 0;
}

.gallery-image-container li,
.gallery-image-container img {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery-image-container li:hover,
.gallery-image-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 844.8px;
}

.information-container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.information .home-section-header-2 {
  margin-bottom: 50px;
}

.information p {
  color: #999999;
  max-width: 350px;
}

.Honolulu {
  font-size: 1.5rem;
}

.Honolulu strong {
  color: #000000;
}

.information-email strong {
  color: #000000;
}

.information .phone {
  font-size: 1.5rem;
  color: #000000;
}

.information img {
  width: 100%;
}

.blog-main {
  background: #EDEDED;
}

.blog-container {
  max-width: 950px;
  background: #FFFFFF;
  margin: 0 auto;
  padding-top: 50px;
}

article,
.related {
  width: 95%;
  margin: 0 auto;
}

.blog-post-header {
  text-align: center;
  font-size: 1.8rem;
  max-width: 498px;
  margin: 0 auto;
}

.blog-path {
  color: #999999;
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alex {
  width: 70px;
  margin: 10px;
  border-radius: 50%;
}

.blog-sub-headers,
.blog-sub-sub-headers {
  margin: 0 auto;
}

.blog-sub-sub-headers {
  color: #CCCCCC;
  margin-top: 5px;
}

.post-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 40px;
}

.blog-container p {
  font-size: 1rem;
}

.main-p {
  color: #999999;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 375px;
}

.share-header {
  margin-left: 0;
  margin-right: 20px;
}

.blog-icons,
.blog-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 45%;
  color: #CCCCCC;
  font-size: 1.5rem;
}

.blog-icons {
  margin-top: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.blog-icons i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.blog-twitter {
  color: #00acee;
}

.blog-section-header {
  font-size: 1.5rem;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 15px;
  margin-left: 10px;
}

.related ul {
  padding-left: 0;
}

.related img {
  width: 95%;
  margin-bottom: 10px;
  max-width: 288px;
}

.related article {
  margin-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 10px;
  max-width: 288px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.related article:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.related-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message {
  background: #EDEDED;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  position: relative;
}

.message:after {
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #EDEDED;
}

.message .blog-sub-sub-headers {
  color: #000000;
}

.reply-style {
  color: #00acee;
  font-style: italic;
}

.comment-text,
.comment-time {
  color: #999999;
}

.comment-time {
  font-size: 0.7rem;
}

.leave-comment {
  margin-bottom: 50px;
  text-align: center;
}

.leave-comment input {
  float: left;
  margin-left: 10px;
}

.leave-comment input,
.leave-comment textarea {
  border: 0;
  border-bottom: 1px solid #CCCCCC;
  width: 80%;
  padding-left: 5px;
}

.leave-comment input:focus,
.leave-comment input:active,
.leave-comment textarea:focus,
.leave-comment textarea:active {
  border: 1px solid #CCCCCC;
}

.leave-comment input {
  margin-bottom: 25px;
  max-width: 280px;
}

.leave-comment textarea {
  resize: none;
  height: 100px;
  color: #999999;
}

.leave-comment input:hover,
.leave-comment textarea:hover {
  border-bottom: 1px solid #000000;
}

.comment-submit {
  margin-top: 20px;
  color: #FFFFFF;
  background: #84A016;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  height: 50px;
  width: 170px;
}

.comment-submit:hover {
  background: #5f7310;
  cursor: pointer;
}

.contact-header {
  font-size: 2rem;
  margin-bottom: 0;
}

.contact-container p {
  color: #999999;
}

.contact-p {
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-container ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 465px;
}

.contact-container li {
  width: 70%;
  max-width: 235px;
  margin: 0 auto;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.address {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.contact-form {
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 0;
  width: 90%;
}

.contact-form fieldset {
  width: 100%;
  padding: 0;
}

.contact-form input,
.comment-box {
  border: none;
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-left: 5px;
}

.contact-form input {
  width: 100%;
  max-width: 270px;
  padding-bottom: 5px;
  float: left;
}

.comment-box {
  resize: none;
  width: 90%;
  height: 100px;
}

.contact-form input:hover,
.comment-box:hover {
  border-bottom: 1px solid #000000;
}

.contact-form input:focus,
.contact-form input:active,
.comment-box:focus,
.comment-box:active {
  border: 1px solid #999999;
}

.contact-submit {
  text-transform: uppercase;
  border: none;
  background: transparent;
  border-bottom: 1px solid #999999;
  margin-bottom: 50px;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1rem;
}

.contact-submit:hover {
  cursor: pointer;
  border: 1px solid #000000;
}

.contact-footer-image {
  background: url("../assets/contact-2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 460.8px;
}

@media (min-width: 335px) {
  div.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  nav {
    display: none;
  }
  .top-nav {
    right: 20px;
  }
  .nav-header {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .nav-icons {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 2rem;
  }
  .number p {
    top: 6%;
    left: 20%;
  }
  .hero,
  .contact-hero {
    width: 100%;
  }
  .home-section-header-1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .about-container {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  footer {
    height: 512.4px;
    padding-top: 40px;
  }
  footer ul {
    line-height: 2;
  }
  footer form {
    margin: 0 auto;
    margin-top: 15px;
  }
  ul.wrapper {
    padding-left: 0;
  }
  footer p {
    text-align: center;
  }
  .footer-icons {
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
  }
  .contact-header {
    text-align: center;
  }
  .contact-types i {
    font-size: 2rem;
  }
}

@media (min-width: 400px) {
  .about {
    height: 921.6px;
  }
  .girl-photo-container:after {
    top: 35%;
  }
  .information {
    height: 998.4px;
  }
  .comment-submit-container {
    width: 100%;
    text-align: left;
  }
  .comment-submit {
    margin-left: 10px;
  }
  .contact-hero {
    margin-bottom: 100px;
  }
  .contact-container {
    margin: 0 auto;
  }
  .contact-container,
  .contact p {
    margin-left: 50px;
  }
  .contact-header {
    text-align: left;
  }
  .contact-p {
    max-width: 480px;
    margin-left: 0;
  }
}

@media (min-width: 520px) {
  .girl-photo-container {
    max-width: 510px;
  }
  .girl-photo-container:after {
    max-width: 160px;
    left: 4%;
  }
  .girl-photo {
    max-width: 306px;
  }
  .contact-types li {
    border: none;
  }
  .contact-container {
    height: 1459.2px;
  }
  .contact-submit {
    margin-top: 40px;
  }
  .information {
    height: 1152px;
  }
}

@media (min-width: 580px) {
  .header-container {
    padding-bottom: 20px;
  }
  nav,
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
  }
  .nav-ul-1 {
    width: 40%;
    margin: 0 auto;
  }
  .nav-ul-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 55px;
    margin-right: 50px;
  }
  .nav-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 50px;
  }
  .hamburger,
  .top-nav,
  .top-nav li,
  .hamburger-lines {
    display: none;
  }
  .nav-header {
    position: absolute;
    margin: 0;
    left: 170px;
    top: 100px;
  }
  .home-hero,
  .blog-hero {
    height: 460.8px;
  }
  .about {
    padding-top: 50px;
    height: 1075.2px;
  }
  .girl-photo-container {
    margin-top: 40px;
  }
  .girl-photo-container:after {
    max-width: 160px;
    left: 3%;
  }
  .testimonial-box {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .information img {
    max-width: 580px;
  }
  .footer-links {
    max-width: 350px;
  }
  footer legend {
    text-align: left;
  }
  footer form {
    max-width: 580px;
  }
}

@media (min-width: 700px) {
  .nav-header {
    left: 250px;
  }
  .about {
    height: 652.8px;
  }
  .about-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .girl-photo-container {
    width: 45%;
  }
  .girl-photo {
    width: 80%;
  }
  .girl-photo-container:after {
    top: 70%;
    left: 0;
  }
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
  .footer-icons {
    margin: 0;
  }
}

@media (min-width: 755px) {
  .contact-container {
    max-width: 70%;
    margin: 0 auto;
    height: 1344px;
  }
  .contact-types {
    max-width: 1400px;
    margin-top: 50px;
  }
  .contact-types li {
    max-width: 320px;
    padding-left: 10px;
  }
  .contact-types p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

@media (min-width: 850px) {
  .header-container {
    height: 230.4px;
  }
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-ul-1,
  .nav-ul-2 {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav-ul-1 {
    max-width: 280px;
  }
  .nav-ul-2 {
    width: 100%;
    max-width: 180px;
  }
  .nav-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100px;
    position: absolute;
    right: 100px;
    top: 50px;
  }
  .nav-header {
    top: 100px;
    left: 370px;
  }
  .about {
    padding-top: 100px;
    height: 768px;
  }
  .girl-photo-container:after {
    top: 70%;
    left: 0;
  }
  .features img {
    margin-right: 0;
    width: 45%;
  }
  .explore .home-section-header-2 {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  .blog-post-header {
    max-width: 520px;
  }
  .contact-footer {
    height: 432.4px;
  }
}

@media (min-width: 915px) {
  .information {
    height: 691.2px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .information-container,
  .information-container .home-section-header-1,
  .information-container .home-section-header-2 {
    text-align: left;
  }
  .contact-container {
    height: 1305.6px;
  }
}

@media (min-width: 930px) {
  .blog-path {
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .alex {
    width: 70px;
    height: 70px;
  }
  .post-header,
  .blog-headers-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-headers-container {
    width: 60%;
    padding-top: 50px;
    margin-right: 30px;
  }
  .user {
    width: 300px;
  }
  .user-name {
    padding-top: 30px;
  }
  .share {
    margin-top: 60px;
  }
  .related-articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .comments {
    padding-left: 20px;
  }
  .blog-section-header {
    width: 95%;
  }
  .message {
    margin-right: 20px;
    margin-left: 40px;
    padding-bottom: 20px;
  }
  .comments img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
  }
  .comment1,
  .comment2,
  .comment3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comment-header {
    text-align: left;
    width: 95%;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 56px;
    margin-bottom: 56px;
  }
  .leave-comment {
    height: 691.2px;
  }
  .leave-comment,
  .leave-comment fieldset {
    max-width: 900px;
    margin: 0 auto;
  }
  .leave-comment textarea {
    width: 100%;
    height: 150px;
  }
  footer {
    height: 343.4px;
  }
}

@media (min-width: 1000px) {
  .nav-header {
    left: 450px;
  }
  .about {
    height: 844.8px;
  }
  .girl-photo-container {
    max-width: none;
    width: 400px;
    margin-top: 20px;
  }
  .girl-photo-container:after {
    max-width: none;
    width: 200px;
    height: 200px;
    left: -40px;
    top: 280px;
  }
  .girl-photo {
    width: 100%;
  }
  .about-article {
    margin: 0 auto;
    width: 80%;
  }
  .great-place {
    font-size: 2rem;
    margin-bottom: 60px;
    margin-left: 0;
  }
  .about-article-content {
    margin-left: 50px;
    margin-right: 0;
  }
  .testimonial-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
  .mobile-angles {
    display: none;
  }
  .angle-left-desktop,
  .angle-right-desktop {
    display: inline-block;
  }
  .explore {
    padding-bottom: 100px;
  }
  .gallery-image-container {
    margin: 0 auto;
  }
  .information-container {
    text-align: left;
    max-width: 410px;
    padding-left: 10px;
    padding-top: 50px;
  }
  .information-container .home-section-header-1,
  .information-container .home-section-header-2 {
    text-align: left;
  }
  .information-container .home-section-header-2 {
    font-size: 3rem;
  }
  .blog-container {
    position: relative;
    top: -60px;
  }
}

@media (min-width: 1100px) {
  .header-container {
    height: 192px;
  }
  nav {
    padding-top: 50px;
  }
  .nav-icons {
    right: 0;
    top: 60px;
    font-size: 1.8rem;
    width: 80px;
  }
  .nav-header {
    left: 480px;
    top: 50px;
  }
  .features ul {
    margin-top: 100px;
  }
  .features p {
    width: 265px;
  }
  .features img {
    width: 50%;
  }
  .contact-hero {
    background-position-x: 0;
    background-position-y: 0;
    background-size: contain;
    height: 460.8px;
    margin-bottom: 100px;
  }
  .contact-container {
    height: 1075.2px;
  }
  .contact-container ul {
    max-width: none;
    width: 100%;
  }
  .footer-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  div.footer-links {
    max-width: none;
    width: 420px;
  }
  footer form {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1190px) {
  .nav-header {
    left: 520px;
  }
  .home-hero,
  .blog-hero {
    height: 691.2px;
  }
  .about-article {
    width: 70%;
  }
  .girl-photo-container:after {
    left: -60px;
  }
  .information img {
    max-width: 800px;
    height: 100%;
  }
  .footer-bottom,
  .footer-container {
    width: 80%;
  }
  .footer-container {
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .nav-header {
    right: 400px;
  }
  .features ul {
    margin-left: 50px;
  }
  .features img {
    width: 30%;
  }
  .contact-container {
    height: 1075.2px;
    max-width: 1000px;
  }
}

@media (min-width: 1298px) {
  .nav-icons {
    right: 40px;
    width: 120px;
  }
  .features {
    padding-top: 0;
  }
  .features ul {
    height: 384px;
    margin-left: 50px;
  }
  .features li {
    height: 160px;
  }
  .features img {
    margin-top: 0;
    width: 40%;
  }
  li.address {
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
  }
}

@media (min-width: 1373px) {
  .contact-container {
    height: 921.6px;
  }
}
