html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.home-section-header-1,
.feature-header {
  text-transform: uppercase;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
}

header a {
  color: #000000;
}

nav {
  font-size: 1.2rem;
}

.nav-header {
  position: absolute;
}

.shopping-container {
  position: relative;
}

.number {
  position: absolute;
  left: 20px;
  bottom: -5px;
}

.number p {
  background: #A4F1DC;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 50%;
}

.home-hero,
.blog-hero,
.contact-hero {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.home-hero {
  background: url("../assets/home-1.jpeg");
}

.blog-hero {
  background: url("../assets/blog-1.jpeg");
}

.contact-hero {
  background: url("../assets/contact-1.jpeg");
  background-position-x: -620px;
  background-position-y: -120px;
  background-repeat: no-repeat;
  height: 60vh;
}

footer,
footer input,
footer button {
  background: #212121;
  color: #EDEDED;
}

footer a {
  color: #EDEDED;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer form {
  width: 100%;
}

footer fieldset {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer legend {
  width: 90%;
  text-align: center;
}

footer input {
  width: 70%;
}

footer input,
footer button {
  border: 0;
  border-bottom: solid 1px;
  height: 40px;
}

.home-section-header-1,
.home p {
  color: #999999;
}

.about {
  background: #EDEDED;
  height: 105vh;
  padding-top: 20px;
}

.about p,
.features p {
  color: #999999;
  line-height: 1.5;
}

.about-article {
  position: relative;
}

.girl-photo {
  width: 60%;
  border: 10px solid #FFFFFF;
  margin-bottom: 50px;
  margin-top: 10px;
}

.girl-photo-container:after {
  content: "";
  width: 30%;
  height: 30%;
  background: url("../assets/home-circle-text.png") no-repeat;
  background-size: contain;
  top: 29%;
  left: 6%;
  position: absolute;
  display: inline-block;
}

.circle-text {
  width: 30%;
  position: absolute;
  left: 0;
  left: 25px;
  top: 172px;
}

.home-section-header-1 {
  letter-spacing: 1px;
}

.great-place {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
}

.great-place:before {
  content: '';
  border-top: 1px solid #000000;
  width: 20%;
  display: block;
  margin-bottom: 20px;
}

.name-bold {
  color: #000000;
}

.features {
  padding-top: 20px;
}

.features ul {
  padding-left: 20px;
}

.icon-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-header-container i {
  font-size: 2rem;
}

.feature-header {
  margin-top: 10px;
  margin-left: 10px;
}

.features p {
  margin-top: 0;
  margin-bottom: 50px;
}

.features img {
  display: block;
  margin-top: 30px;
  width: 100%;
}

.testimonial,
.explore {
  background: url(../assets/pattern.png);
}

.testimonial {
  height: 90vh;
  padding-top: 50px;
}

.testimonial button {
  border: none;
  background: transparent;
  color: #999999;
}

.angle-left-desktop,
.angle-right-desktop {
  display: none;
}

.mobile-angles,
.angle-left-desktop,
.angle-right-desktop {
  text-align: center;
  font-size: 5rem;
}

.testimonial-box {
  background: #FFFFFF;
  width: 95%;
  height: 65vh;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.home-section-header-2 {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}

.stars {
  font-size: 2rem;
}

.stars {
  color: #F6AB09;
}

.testimonial-quote {
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.7;
}

.testimonial-quote:before,
.testimonial-quote:after {
  font-size: 1.5rem;
  vertical-align: -6px;
  line-height: 1;
}

.testimonial-quote:before {
  content: open-quote;
  margin-right: 5px;
}

.testimonial-quote:after {
  content: close-quote;
  margin-left: 5px;
}

.testimonial p {
  color: #999999;
}

.explore {
  padding-top: 20px;
}

.explore .home-section-header-1 {
  margin-top: 0;
}

.gallery-image-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-image-container img {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.information img {
  width: 100%;
}

article,
.related {
  width: 95%;
  margin: 0 auto;
}

.blog-post-header {
  text-align: center;
  font-size: 1.8rem;
}

.blog-path {
  color: #999999;
  font-size: 1rem;
  padding: 5px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.alex {
  width: 100px;
  margin: 10px;
}

.blog-sub-headers,
.blog-sub-sub-headers {
  margin: 0 auto;
}

.blog-sub-sub-headers {
  color: #999999;
}

.post-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
}

.blog-container p {
  font-size: 1rem;
}

.main-p {
  color: #999999;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share-header {
  margin-left: 0;
  margin-right: 20px;
}

.blog-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 45%;
  color: #CCCCCC;
  font-size: 1.5rem;
}

.blog-twitter {
  color: #00acee;
}

.blog-section-header {
  font-size: 1.5rem;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 15px;
  margin-left: 10px;
}

.related ul {
  padding-left: 0;
}

.related img {
  width: 95%;
  margin-bottom: 10px;
}

.related article {
  margin-bottom: 20px;
}

.related-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message {
  background: #EDEDED;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  position: relative;
}

.message:after {
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #EDEDED;
}

.message .blog-sub-sub-headers {
  color: #000000;
}

.reply-style {
  color: #00acee;
  font-style: italic;
}

.comment-text,
.comment-time {
  color: #999999;
}

.comment-time {
  font-size: 0.7rem;
}

.leave-comment {
  margin-bottom: 50px;
  text-align: center;
}

.leave-comment input,
.leave-comment textarea {
  border: 0;
  border-bottom: 1px solid #999999;
  width: 80%;
}

.leave-comment input {
  margin-bottom: 25px;
}

.leave-comment textarea {
  resize: none;
  height: 100px;
  color: #999999;
}

.comment-submit {
  margin-top: 20px;
  color: #FFFFFF;
  background: #84A016;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  height: 50px;
  width: 170px;
}

.contact-header {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 20px;
}

.contact-container p {
  color: #999999;
}

.contact-p {
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-container ul {
  padding-left: 0;
}

.contact-container li {
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.address {
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.contact-form {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}

.contact-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.comment-box {
  resize: none;
  width: 90%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #999999;
}

.contact-submit {
  text-transform: uppercase;
  border: none;
  background: transparent;
  border-bottom: 1px solid #999999;
  margin-bottom: 50px;
  margin-left: 80px;
  padding-bottom: 5px;
  font-size: 1rem;
}

.contact-footer-image {
  background: url("../assets/contact-2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
}

@media (min-width: 335px) {
  div.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  nav {
    display: none;
  }
  .nav-header {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .nav-icons {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 2rem;
  }
  .number p {
    top: 6%;
    left: 20%;
  }
  .hero,
  .home-hero {
    height: 22vh;
    width: 100%;
  }
  .contact-hero {
    width: 100%;
  }
  .home-section-header-1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .about-container {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  footer {
    height: 65vh;
    padding-top: 40px;
  }
  footer ul {
    line-height: 2;
  }
  footer form {
    margin: 0 auto;
    margin-top: 15px;
  }
  ul.wrapper {
    padding-left: 0;
  }
  footer p {
    text-align: center;
  }
  .footer-icons {
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
  }
  .contact-header {
    text-align: center;
  }
  .contact-types i {
    font-size: 2rem;
  }
}
